.linkTerminal {
    padding: 10px 20px 10px 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: 20% 65% 20%;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #1D3557;
    color: white;
    img {
        width: auto;
        margin-right: 20px;
    }
}
.linkTerminal__address {
    padding-left: 10px;
    margin-right: -50px;
}

.linkTerminal__del-img,
.linkTerminal__icon-img {
    height: 50px;
}
.linkTerminal__starred {
    padding: 10px 20px 10px 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: 20% 65% 20%;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #1D3557;
    color: white;
    img {
        width: auto;
        margin-right: 20px;
    }
}