.linkTerminal {
    padding: 10px 80px 10px 80px;
    display: grid;
    justify-content: center;
    grid-template-columns: 40% 100% 40%;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #1D3557;
    color: white;
    img {
        width: auto;
    }
}