.home {
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Headings */
.home h1 {
  margin: 0;
  margin-top: 40px;
  margin-bottom: 10px;
  color: white;
}

/* Links */
.home a {
  height: 200px;
  margin-bottom: 30px;
}

/* Buttons */
.home button {
  padding: 25px 20px;
  width: auto;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background-color: #1d3557;
}

/* Icons */
.home__google-icon {
  width: 60%;
  padding-bottom: 20px;
  margin-left: 20px;
}

.home__star-icon {
  width: 60%;
  padding: 10px;
  margin: 0;
}
