/* Navigation bar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background-color: #1d3557;
  position: absolute;
  top: 20px;
  right: 0;
  left: 0;
  height: 50px;
  margin: 0;
  padding: 0;
}

/* Navigation buttons */
nav button {
  margin: 0;
  padding: 0;
  font-size: 1.1em;
  background: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

/* Navigation button hover state */
nav button:hover {
  color: #e63946;
}
